@import url("https://fonts.googleapis.com/css2?family=🇲ontserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}


body, #root{
  height: 100vh;
  margin: 0;
 
}
body, footer, input, select,button,main,textarea{
  font-size: 1.6rem;
  font-family: Montserrat;
}
a:hover{
  color: #ff8000
}
.parent-container{
  height: 100vh;
  background-image:url("images/pink-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-columns:1fr;
  height:98%;
  width: 98%;
  box-shadow: -2px 4px 27px -5px rgba(0,0,0,0.61);
-webkit-box-shadow: -2px 4px 27px -5px rgba(0,0,0,0.61);
-moz-box-shadow: -2px 4px 27px -5px rgba(0,0,0,0.61);
  border-radius: 2rem;

}
header{
  grid-area: header;
  /* background: rgb(226,226,229);
  background: linear-gradient(90deg, rgba(226,226,229,0.5922177775522297) 100%, rgba(228,228,228,0.4040155303612184) 100%); */
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem ;
  padding: 2rem;
  
  
}
header > h2 a{
  text-decoration: none;
  padding: 0.3rem;
  font-size: 3rem;
  border: dashed 0.2rem purple;
  margin: 1rem 2rem ;
  border-radius: 1rem;
}

header > .admin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  width: 8rem;
  position: relative;
  background-color:#4d039c;
  z-index: 3;
  right: 2rem;
  border-radius: 3rem;
  color: white;
  top: 1rem;
  text-decoration: none;
  top: 0;
  transition: 0.3 ease-in-out;
}
header > .admin:hover{
  color:#4d039c;
  background-color: white;
  transition: all;
  transition:  0.3s ease-in-out ;
  box-shadow: -2px 4px 27px -5px rgba(0,0,0,0.61);
  -webkit-box-shadow: -2px 4px 27px -5px rgba(0,0,0,0.61);
  -moz-box-shadow: -2px 4px 27px -5px rgba(0,0,0,0.61);
}

header > a {
  text-decoration: none;
  color: #4d039c;
  font-weight: 600;
  padding: 2rem;
 

}
main{
 grid-area:main;
 background-color: rgba(255, 255, 255, .10);  
 backdrop-filter: blur(2px);
 padding: 2rem;
 font-weight: 700;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* Internet Explorer 10+ */
 scrollbar-width: none; 

}
/* hiding scroll bar for chrome */
.main::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
footer{
  grid-area:footer;
  background-color: #4d039cbd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem ;
 
}

.contents {
  display: flex;
  flex-wrap: nowrap;
  
}
.main{
  flex:4 49rem;

}
.sidebar{
  flex: 1 10rem;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; 
 
}

/* hiding scroll bar for chrome */
.sidebar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* products edit */
/* .products{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
  flex-wrap: wrap;
  list-style-type: none;
}
.products li{
  flex :0 1 29rem;
  height: 48rem;
  padding: 1rem;
 
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div{
  font-size: 2rem;
}
.button{
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  border-radius: 1rem;
}
.button.primary{
  background-color: #dcaa15;
} */

/* New Product expereiment */
.section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.742);  
  backdrop-filter: blur(10px);
  height: 100vh;
  overflow-x: hidden;
  padding: 3rem 2rem;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; 
  
}
/* hiding scroll bar for chrome */
.section::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* .section::before{
  content: "";
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:#ef3b36;
  clip-path: circle(65% at 100%  -20%);

}
.section::after{
  content: "";
  z-index: 1;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:#47aafa;
  clip-path: circle(35% at 0%  100%);

} */
.container{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  

}
.container .card{
  position: relative;
  width: 30rem;
  height:50rem;
  margin:20px 40px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  backdrop-filter: blur(15px);
  
}

.container .card .imageBox{
  position: relative;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:2rem;
  transition: 0.5s ease-in-out;
  transform: all;

  
}
/* dynamic product animations for shoes */
.container .card:hover .shirts img{
  cursor: pointer;
  color: cyan;
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.container .card:hover .shirts h2{
  opacity: 0;
}

/* dynamic animation for shirts */

.container .card:hover .shoes{
  transform: translateY(-5rem);
  margin-bottom: 2rem;
}

.container .card .shoes h2{
  transform: translateY(-1rem);
  font-size: 3rem;
}

.container .card .shoes h3
{
  margin-top: -3rem;
  padding: 0;
}

.container .card .shirts h3{
  margin-top: -1rem;

}

.container .card  .shirts.imageBox{
  overflow: hidden;
}


/* iamges styling */
.container .card .imageBox img{
  max-width: 100%;
  max-height: 100%;
  margin: 0 20px;
  margin-top: -5rem;
  transition: 0.4s ease-in-out;

 
}
.container .card:hover .shoes img{
   transform: translate(-1rem, -2rem) rotate(25deg) scale(1.1);
} 
/* .content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  height: 1rem;
  width: 10rem;
  z-index: 3;
  
}
.size{
  display: flex;

}
.size .size-content{
  padding:0.5rem;
}
.size .size-content h2{
  background-color: yellow;
  height: 2rem;
  padding: 0.5rem;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
} */

/* card content */
.container .card .content{
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;

}
.container .card:hover .content{
  opacity: 1;
  visibility: visible;
  transform: translateY(-4rem);
}
.container .card .content .size{
  transform: translateY(2rem);
}

.container .card .content .size,
.container .card .content .color{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.container .card .content .size h3,
.container .card .content .color h3{
  color:rgb(131, 12, 125);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; 
  margin-right: 10px;  
}
.container .card .content .size span{
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  display: block;
  color:  #111;
  background: #f1b306;
  border-radius: 4px;
  margin: 0 0.5rem;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;

}
.container .card .content .size span:hover{
  background: #9bdc28;
}
.container .card .content .color span{
  width: 20px;
  height: 20px;
  background: rgb(32, 190, 53);
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid rgb(115, 32, 248);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}
.container .card .content .color span:nth-child(2){
  background: cyan;
}
.container .card .content .color span:nth-child(3){
  background: #9bdc28;
}
.container .card .content .color span:nth-child(4){
  background: #e91e63;
}
.container .card .content a{
  position: relative;
  top: 1rem;
  display: inline-block;
  padding: 1.2rem 3rem;
  background: #f1b306;
  border-radius: 4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
}

/* filter page */
.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  right: 2rem;
  margin: 1rem 1rem;
  padding: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid ;

}
.filter-sort select ,
.filter-size select{
  padding: 1rem 2rem;
  width: 15rem;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  color: #4d039c;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  backdrop-filter: blur(1rem);
  font-size: 2rem;
}
.filter .filter-result{
  padding: 1.5rem;
  width: 17rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  color: #4d039c;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  backdrop-filter: blur(1rem);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.filter-result h3{
  margin-left: 1.5rem;
}
